# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
# Ignore node_modules in all submodules
/node_modules
node_modules/
apps/*/node_modules/
apps/*/.env/
on-chain/node_modules/
/.vercel
/apps/*/.next
/apps/*/dist

/on-chain/nftopia/target/
/on-chain/nftopia/target/dev/
# Ignore build artifacts
/on-chain/**/target/

# JetBrains IDE (PyCharm/IntelliJ) files
.idea/
*.iml
*.ipr
*.iws



/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
apps/*/.next/

/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.qodo

####################
# Python
####################
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.manifest
*.spec
*.log

# Virtual environments
venv/
.venv/
ENV/
env/
env.bak/
*.env
*.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints

####################
# Java / Gradle
####################
# Compiled class files
*.class
.gradle/


# Log files
*.log

# Gradle
.gradle/
build/
out/

# IntelliJ / Eclipse / VSCode IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/

####################
# OS / Editor files
####################
# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# Other temporary files
*.swp
*.swo
*.tmp
*.bak