.vaultContainer {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  touch-action: manipulation;
}

.particle {
  position: absolute;
  filter: drop-shadow(0 0 2px rgba(78, 59, 255, 0.5));
}

@media (max-width: 640px) {
  .vaultContainer {
    transform: scale(0.8);
    transform-origin: center top;
  }

  .particle {
    width: 12px;
    height: 12px;
  }
}
